html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #414046;
}

div.container {
    height: 100vh;
    width: 65vw;
    margin: auto;

    display: flex;
}

.container>div {
    flex: 1 1 0%;
}

.pic {
    background-image: url("./Img/woods.jpg");
    background-size: cover;
    background-position: -60px;
}

.logo {
    background-color: black;
    height: 140px;
    opacity: 0.5;
    color: white;
    font-weight: bold;

    position: relative;
    top: 72px;
}

.container>.info {
    flex: 2 1 0%;
}

.info {
    display: flex;
    flex-direction: column;
}

.card {
    flex: 1 1 0%;
    background-color: white;
    border: 1px solid black;
}
